h1,h2,h3,h4,h5,h6,p,ul,li,blockquote {
	margin: 0;
	padding: 0;
	font-family: 'Josefin Slab';
}


/* Tablets e Desktops */
	/* Header */
		.menu-sandwich {
			display: none;
		}

		.menu {
			height: 68px;
			width: 100%;
			position: absolute;
			z-index: 10;
		}

		.header-menu {
			width: 100%;
		}

		.header-menu li a {
			color: white;	
			font-weight: 600;		
		}

		.menu .logo img{
			position: absolute;
			width: 150px;
			margin-top: 35px;	
		}
	/* Intro */
		.intro-bg {
			width: 100%;
			height: 700px;
			overflow: hidden;
			background: url("../img/home/intro-bg-home-desktop.jpg") no-repeat;
			background-position: center;
			background-size: cover;
		}

		.filter {
			width: 100%;
			height: 700px;
			background-color: rgba(0, 0, 0, 0.3);
		}

		.intro {
			margin-left: 5px;
			margin-top: 240px;
			width: 367px;
			color: #F8F7F5;
		}

		.intro h1 {
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}

		.intro h2 {
			font-family: 'Niconne', cursive;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	/* Sessão de serviços */
		.svc-name {
			position: absolute;			
			background-color: rgba(255, 255, 255, 0.9);			
			text-align: center;
			color: #000000;			
			text-transform: uppercase;
		}

		.svc-name h3 {
			font-weight: 700;
		}
	/* Sessão de transição */
		.third-sc {
			height: 831px;
			background-color: #FFFFFF;
		}

		.btn {
				position: absolute;
				margin-top: 30px;
				margin-left: 233px;
				width: 704px;
				height: 40px;
				color: #000000;
				border: 1px solid #000000;
				font-size: 16px;
				text-transform: uppercase;
				letter-spacing: 2px;				
			}

		.btn h3 {
				position: absolute;
				font-weight: 700;
				margin-top: 13px;
				margin-left: 247.5px;
			}
	/* Sessão de Portifólio */
		.fourth-sc {
				width: 100%;
				height: 344px;
				background-color: #F8F7F5;
			}
/* Phony Only */
	@media only screen and (max-width: 670px) {
		/* Header */
			.menu {
				height: 98px;
				width: 100%;
				top: 0px;
				z-index: 20;
				position: absolute;
			}

			.header-menu {
				display: none;
			}

			.menu-sandwich {
				width: 30px;
				height: 32px;
				position: absolute;
				right: 30px;
				top: 30px;
				z-index: 40;
			}

			/* Menu branco */
			.bar-1, .bar-2, .bar-3 {
				width: 30px;
				height: 4px;
				margin-bottom: 8px;
				background-color: #FFFFFF;
				/*border-radius: 3px;*/
				transition: 0.4s;
			}

			.menu-sandwich, .menu .logo {
				display: inline-block;
			}

			.logo img {
				margin-top: 30px;
				max-width: 122px;
			}
		/* Introdução */
			.intro-bg {
				height: 640px;
				overflow: hidden;
				background: url("../img/home/intro-bg.jpg");
				background-position: left 57% top 10%;
				z-index: 10;
			}

			.filter {		
				width: 100%;		
				height: 640px;
				background-color: rgba(0, 0, 0, 0.3);
			}

			.intro {
				width: 245px;
				height: 111px;
				margin: 0 auto;
				margin-top: 358px;
				color: #F8F7F5;
				text-align: center;
			}

			.intro h1 {
				margin: 0;
				font-family: 'Josefin Slab', serif;
				font-size: 36px;
				letter-spacing: 1px;
				font-weight: 300;
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			}

			.intro h2 {
				font-family: 'Niconne', cursive;
				font-size: 48px;
				font-weight: 400;
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			}
		/* Sessão dos serviços */
			.second-sc {
				background-color: #FFFFFF;
				height: 1298px;
			}

			.box-service {
				margin: 0 auto;
				width: 290px;
				height: 290px;
				display: block;
				margin-top: 30px;
			}

			.svc-name {
				position: absolute;
				margin-top: 230px;
				font-size: 16px;
				font-family: 'Josefin Slab', serif;
				font-weight: 600;
				width: 290px;
				height: 60px;
				background-color: rgba(255, 255, 255, 0.9);
				color: #000000;			
				text-align: center;
			}

			.svc-name h3 {
				margin-top: 24px;
				text-transform: uppercase;
			}

			#unha {
				margin-top: 50px;
				background: url("../img/home/svc-unha.jpg") no-repeat center;
			}

			#cabelo {
				background: url("../img/home/svc-cabelo.jpg") no-repeat center;
			}

			#depilacao {
				background: url("../img/home/svc-depilacao.jpg") no-repeat center;
			}

			#make {
				background: url("../img/home/svc-make.jpg") no-repeat center;
			}
		/* Sessão de Transição */
			.third-sc {
				height: 613px;
				background-color: #FFFFFF;
			}

			.agen {
				width: 290px;
				height: 60px;
				margin: 0 auto;
				margin-top: 30px;
				border: 1px solid #0C0906;
				color: #0C0906;
			}

			.agen h3 {
				margin: 0 auto;
				text-align: center;
				margin-top: 8px;
				width: 113px;
				font-size: 16px;
				line-height: 21px;
				font-family: 'Josefin Slab', serif;
				font-weight: 600;
				text-transform: uppercase;
			}

			.third-sc img {
				width: 298.23px;
				height: 84.84px;
				position: absolute;
				margin-top: 120px;
				z-index: 10;
			}

			.cite {
				width: 290px;
				height: 212px;
				margin: 0 auto;
				border: 2px solid #D1AB67;
				margin-top: 191px;
				text-align: center;
				font-family: 'Josefin Slab', serif;
				text-decoration: none;
			}

			.cite h2 {
				margin: 0 auto;
				margin-top: 40px;
				width: 183px;
				font-size: 20px;
				letter-spacing: 2px;
				font-style: italic;
			}

			.hor-bar {
				height: 2px;
				width: 42px;
				background-color: #D1AB67;
			}

			.cite .hor-bar {
				margin: 0 auto;
				margin-top: 20.62px;
			}

			.cite blockquote {
				margin-top: 20.38px;
				font-size: 14px;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-weight: 600;
			}

			.img-transit {
				display: none;
			}
		/* Sessão de portifólio */
			.fourth-sc {
				width: 100%;
				height: 450px;
				background-color: #F8F7F5;
			}

			.btn {
				width: 290px;
				height: 60px;
				margin: 0 auto;
				border: 1px solid #0C0906;
				margin-top: 43px;
				text-align: center;
				color: #0C0906;
			}

			.btn h3 {
				width: 113px;
				margin: 0 auto;
				font-size: 16px;
				font-family: 'Josefin Slab', serif;
				line-height: 21px;
				margin-top: 8px;
				font-weight: 600;
				text-transform: uppercase;
			}

			.box-port {
				width: 290px;
				height: 290px;
				margin: 0 auto;
				margin-top: 20px;
				/* bg temporario */
				background-color: grey;
			}
		/* Contatos */
			.fifth-sc {
				width: 100%;
				height: 496px;
				background: url("../img/home/contacts-bg.jpg");
				background-position: left -50px top -50px;
				overflow: hidden;
			}

			.contacts {
				position: absolute;
				width: 290px;
				height: 436px;
				margin: 0px 5px;
				background-color: #F8F7F5;
				font-size: 18px;
				color: #D1AB67;
				font-family: 'Josefin Slab', serif;
				text-align: center;
			}

			.contacts h2 {
				margin-top: 40px;
				margin-bottom: 40px;
				font-size: 40px;
				font-family: 'Niconne', cursive;
				letter-spacing: 2px;
			}

			.contacts h3 {
				text-transform: uppercase;
				margin-top: 40px;
				margin-bottom: 10px;
				font-weight: 600;
			}

			.contacts h4 {
				text-transform: capitalize;
				font-weight: 600;
				width: 221px;
				margin: 0 auto;
			}
		/* Footer */
			.footer {
				width: 100%;
				height: 306px;
				background-color: #F8F7F5;
			}

			.f-menu {
				position: absolute;
				width: 190px;
				margin: 0px 55px;
				margin-top: 12px;			
			}

			.f-menu li {
				margin-top: 28px;
				font-family: 'Josefin Slab', serif;
				font-size: 14px;
				text-align: center;
				text-transform: uppercase;
				color: #000000;
				font-weight: 700;
			}

			.cpr {
				margin-top: 169px;
				font-family: 'Josefin Slab', serif;
				font-size: 18px;
				text-align: center;
				line-height: 22px;
			}

			.cpr span {
				display: block;
			}

			.cpr img {	
				margin-top: 15px;
			}
		/* Efeitos */

			/* Efeito menu */
				.menu-sw-active {				
					position: fixed;
					z-index: 31;							
				}

				.change {
					position: fixed;
				}
				/* Menu preto */
					.change .bar-1 {
		  				-webkit-transform: translate(0px, 12px) rotate(-45deg);
		  				transform: translate(0px, 12px) rotate(-45deg) ;
		  				background-color: #000000;  				
					}

					.change .bar-2 {
						opacity: 0;
						background-color: #000000;				
					}

					.change .bar-3 {
		  				-webkit-transform: translate(0px, -12px) rotate(45deg);
		  				transform: translate(0px, -12px) rotate(45deg);
		  				background-color: #000000;  				
		  			}

				.menu-active {
					position: fixed;
					width: 100%;
					height: 100vh;
					background-color: #F8F7F5;
					z-index: 30;
					top: 0;
					left: 0;
				}

				.menu-active .header-menu {
					width: 100%;
					height: 100vh;
					position: absolute;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				.header-menu ul{
					width: 100%;
					text-align: center;
					font-family: 'Josefin Slab', serif;
					font-size: 20px;
					letter-spacing: 2px;
					text-transform: uppercase;		
				}

				.header-menu li {
					margin-bottom: 50px;
					display: block;	
				}

				.header-menu li:first-child {
					margin-top: 0px;
				}

				.header-menu li a {
					color: #000000;
					font-weight: 700;
				}

				.menu-active .logo {
					display: none;
					visibility: hidden;	
				}			
	}
/* Tablets */
	@media only screen and (min-width: 671px) and (max-width: 1189px) {
		/* Header */
			.header-menu ul {
				font-size: 14px;
				margin-top: 42px;
				position: absolute;
				right: 0px;
			}

			.header-menu li {
				display: inline-block;
				margin-left: 20px;			
				text-transform: uppercase;
				letter-spacing: 2px;
			}
		/* Intro */
			.intro h1 {
				font-size: 44px;
			}

			.intro h2 {
				font-size: 73px;
			}	

			.intro-bg {
				background-position: center;
			}		
		/* Sessão de Serviços*/
			.second-sc {
				width: 100%;
				height: 404px;
				background-color: #FFFFFF;
			}

			.box-service {
				display: inline-block;
				width: 187.84px;
				height: 124.4px;
				background-color: grey;
				margin-top: 281px;
				margin-left: 4px;
			}

			.svc-name {
				width: 187.84px;
				height: 32.9px;
				letter-spacing: 2px;
				margin-top: 91.45px;
			}

			.svc-name h3 {
				margin-top: 11px;
			}

			#unha {
				--larguraUnha: 580px;

				position: absolute;
				display: block;
				margin-left: 30px;
				margin-top: 117.16px;
				width: var(--larguraUnha);
				height: 157.36px;
				background-color: grey;
				background: url("../img/home/svc-dkt-unha.jpg") no-repeat center;
			}

			#unha .svc-name {
				width: var(--larguraUnha);
				height: 32.9px;
				letter-spacing: 2px;
				margin-top: 125.4px;
			}

			#cabelo {
				margin-left: 30px; 
				background: url("../img/home/svc-dkt-cabelo.jpg") no-repeat center;
			}

			#depilacao {
				background: url("../img/home/svc-dkt-depilacao.jpg") no-repeat center;
			}

			#make {
				background: url("../img/home/svc-dkt-make.jpg") no-repeat center;
			}
		/* Sessão de Transição*/
			.third-sc {
				height: 643px;
			}

			.btn {
				margin-top: 24px;
				margin-left: 30px;
				width: 580px;
				height: 32.95px;			
			}

			.btn h3 {
				margin-top: 9.5px;
				margin-left: 173px;
			}

			.logo-transit {
				width: 340.62px;
				height: 97.23px; 
				position: absolute;
				margin-top: 242.87px;
				margin-left: 30px;
			}

			.cite {
				position: absolute;
				margin-top: 327.36px;
				margin-left: 30px;
				width: 320.7px;
				height: 117.9px;
				border: 3px solid rgba(209, 171, 103, 0.73);
				font-style: italic;
				color: #0C0906;
				font-size: 16px;
				text-align: center;
				letter-spacing: 2px;
			}

			.cite h2 {
				margin-top: 18px;
			}

			.cite blockquote {
				font-size: 12px;
				font-style: normal;
				text-transform: uppercase;
				margin-top: 16px;
				letter-spacing: 2px;
				font-weight: 700;
			}

			.hor-bar {
				width: 50px;
				height: 2px;
				background-color: rgba(209, 171, 103, 0.73);
				margin: 0 auto;
				margin-top: 16px;
			}

			.img-transit {
				width: 201.26px;
				height: 309.23px;
				position: absolute;
				margin-top: 177.83px;
				margin-left: 372.64px;
				border: 3px solid rgba(209, 171, 103, 0.73);
			}

			.img-transit img {
				padding: 20px 0 0 18px; 
				width: 219.26px;			
				position: absolute;
			}
		/* Contatos */
			.fifth-sc {
				width: 100%;
				height: 507px;
				background: url("../img/home/bg-home-contact.jpg") no-repeat center;
			}

			.contacts {
				position: absolute;
				width: 580px;
				height: 447px;
				background-color: #F8F7F5;
				margin-left: 30px;
				text-align: center;
				letter-spacing: 2px;
				color: #D1AB67;
			}

			.contacts h2{
				font-size: 40px;
				font-family: 'Niconne', cursive;	
				margin-bottom: 30px;	
				margin-top: 30px;		
			}

			.contacts h4 {
				font-size: 20px;				
				width: 245px;
				margin: 0 auto;
				line-height: 26px;
				margin-bottom: 30px;
			}

			.contacts h3 {
				text-transform: uppercase;
				margin-bottom: 15px;
				font-weight: 700;	
			}
		/* Footer */
			.footer {
				width: 100%;
				height: 228px;
				background-color: #F8F7F5;
				text-align: center;
			}

			.f-menu {
				font-size: 12px;
				width: 100%;
				height: auto;
				margin: 30px 0;
				text-align: center;
				text-transform: uppercase;
			}

			.f-menu li {
				display: inline-block;
				padding: 10px 9px 1px 9px;
				margin-right: 1px;
				font-weight: 700;
				color: #000000;
			}

			.cpr p, img {
				margin-top: 10px;
			}
	}
/* Desktops */
	@media only screen and (min-width: 1190px) {
		/* Header */
			.header-menu ul {
				font-size: 18px;
				margin-top: 42px;
				position: absolute;
				right: 20px;
			}

			.header-menu li {
				display: inline-block;
				margin-left: 30px;			
				text-transform: uppercase;
				letter-spacing: 2px;
			}
		/* Intro */
			.intro h1 {
				font-size: 54px;
			}

			.intro h2 {
				font-size: 90px;
			}
		/* Sessão de Serviços */
			.second-sc {
				width: 100%;
				height: 432px;
				background-color: #FFFFFF;
			}
			.box-service {
				display: inline-block;
				width: 228px;
				height: 151px;
				background-color: grey;
				margin-top: 281px;
				margin-left: 6px;
			}

			.svc-name {
				width: 228px;
				height: 40px;
				letter-spacing: 2px;
				margin-top: 111px;
			}

			.svc-name h3 {
				margin-top: 11px;
			}

			#unha {
				--larguraUnha: 704px;

				position: absolute;
				display: block;
				margin-left: 233px;
				margin-top: 80px;
				width: var(--larguraUnha);
				height: 191px;
				background-color: grey;
				background: url("../img/home/svc-dkt-unha.jpg") no-repeat center;
			}

			#unha .svc-name {
				width: var(--larguraUnha);
				height: 40px;
				letter-spacing: 2px;
				margin-top: 151px;
			}

			#cabelo {
				margin-left: 233px; 
				background: url("../img/home/svc-dkt-cabelo.jpg") no-repeat center;
			}

			#depilacao {
				background: url("../img/home/svc-dkt-depilacao.jpg") no-repeat center;
			}

			#make {
				background: url("../img/home/svc-dkt-make.jpg") no-repeat center;
			}
		/* Sessão de Transição */
			.logo-transit {
				position: absolute;
				margin-top: 217px;
				margin-left: 153px;
			}

			.cite {
				position: absolute;
				margin-top: 343px;
				width: 441px;
				height: 146px;
				border: 4px solid rgba(209, 171, 103, 0.73);
				margin-left: 182px;
				font-family: 'Josefin Slab', serif;
				font-style: italic;
				color: #0C0906;
				font-size: 24px;
				text-align: center;
				letter-spacing: 2px;
			}

			.cite h2 {
				margin-top: 23px;
			}

			.cite blockquote {
				font-size: 18px;
				font-style: normal;
				font-weight: 600;
				text-transform: uppercase;
				margin-top: 15px;
			}

			.hor-bar {
				width: 50px;
				height: 3px;
				background-color: rgba(209, 171, 103, 0.73);
				margin: 0 auto;
				margin-top: 15px;
			}

			.img-transit {
				width: 327px;
				height: 491px;
				position: absolute;
				margin-top: 120px;
				margin-left: 664px;
				border: 4px solid rgba(209, 171, 103, 0.73);
			}

			.img-transit img {
				padding: 30px 0 0 27px; 
				position: absolute;
			}
		/* Sessão de Portifólio */
		/* Contatos */
			.fifth-sc {
				width: 100%;
				height: 513px;
				background: url("../img/home/bg-home-contact.jpg") no-repeat center;
			}

			.contacts {
				position: absolute;
				width: 580px;
				height: 447px;
				background-color: #F8F7F5;
				margin-left: 290px;
				text-align: center;
				letter-spacing: 2px;
				color: #D1AB67;
				font-family: 'Josefin Slab', serif;
			}

			.contacts h2{
				font-size: 40px;
				font-family: 'Niconne', cursive;	
				margin-bottom: 30px;	
				margin-top: 30px;		
			}

			.contacts h4 {
				font-size: 20px;				
				width: 245px;
				margin: 0 auto;
				line-height: 26px;
				margin-bottom: 30px;
			}

			.contacts h3 {
				text-transform: uppercase;
				margin-bottom: 15px;
				font-weight: 700;	
			}
		/* Footer */
			.footer {
				width: 100%;
				height: 59px;
				background-color: #F8F7F5;
			}

			.f-menu {
				position: absolute;
				right: 20px;
				font-size: 16px;
				font-family: 'Josefin Slab', serif;
				margin-top: 23px;
			}

			.f-menu li {
				display: inline-block;
				margin-left: 25px;
				text-transform: uppercase;
				font-weight: 700;
				color: #000000;
			}

			.cpr {
				font-size: 16px;
				font-family: 'Josefin Slab', serif;
				position: absolute;
				height: 59px;
			}

			.cpr p {
				float: left;
				display: inline-block;
				margin-top: 22.69px;
			}

			.cpr a {
				margin-left: 5px;
				float: left;
				margin-top: 20px;	
			}
	}