@media only screen and (max-width: 639px) {
	/* Header */
		.menu {
			position: absolute;
			width: 100%;
			top: 0px;
			z-index: 20;
		}

		.menu-sandwich {
			float: right;
			margin-right: 30px;
			margin-top: 30px;
		}

		.menu .menu-sandwich, .menu .logo {
			display: inline-block;
		}

		.logo img {
			margin-top: 30px;
			max-width: 122px;
		}

	/* Introdução */
		.intro-bg {
			height: 100vh;
			overflow: hidden;
			background: url("../img/home/intro-bg.jpg");
			background-position: left 57% top 10%;
			z-index: 10;
		}

		.filter {
			width: 100%;
			height: 100vh;
			background-color: rgba(0, 0, 0, 0.3);
		}

		.intro {
			width: 245px;
			height: 111px;
			margin: 0 auto;
			margin-top: 358px;
			color: #F8F7F5;
			text-align: center;
		}

		.intro h1 {
			margin: 0;
			font-family: 'Josefin Slab';
			font-size: 36px;
			letter-spacing: 1px;
			font-weight: 300;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}

		.intro h2 {
			font-family: 'Niconne', cursive;
			font-size: 48px;
			font-weight: 400;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}

	/* Sessão dos serviços */
		.second-sc {
			background-color: #F8F7F5;
			height: 1298px;
		}

		.box-service {
			margin: 0 auto;
			width: 290px;
			height: 290px;
			display: block;
			margin-top: 30px;
		}

		.svc-name {
			position: absolute;
			margin-top: 230px;
			font-size: 16px;
			font-family: 'Josefin Slab', serif;
			font-weight: 600;
			width: 290px;
			height: 60px;
			background-color: rgba(255, 255, 255, 0.9);
			color: #000000;			
			text-align: center;
		}

		.svc-name h3 {
			margin-top: 24px;
		}

		#unha {
			margin-top: 50px;
			background: url("../img/home/svc-unha.jpg") no-repeat center;
		}

		#cabelo {
			background: url("../img/home/svc-cabelo.jpg") no-repeat center;
		}

		#depilacao {
			background: url("../img/home/svc-depilacao.jpg") no-repeat center;
		}

		#make {
			background: url("../img/home/svc-make.jpg") no-repeat center;
		}

	/* Sessão de Transição */
		.third-sc {
			height: 613px;
			background-color: #F8F7F5;
		}

		.agen {
			margin-top: 30px;
			width: 290px;
			height: 60px;
			border: 1px solid #0C0906;
			color: #0C0906;
		}

		.agen h3 {
			margin: 0 auto;
			text-align: center;
			margin-top: 8px;
			width: 113px;
			font-size: 16px;
			line-height: 21px;
			font-family: 'Josefin Slab', serif;
			font-weight: 600;
			text-transform: uppercase;
		}

		.third-sc img {
			position: absolute;
			margin-top: 120px;
			z-index: 10;
		}

		.cite {
			width: 290px;
			height: 212px;
			border: 2px solid #D1AB67;
			margin-top: 191px;
			text-align: center;
			font-family: 'Josefin Slab', serif;
			text-decoration: none;
		}

		.cite h2 {
			margin: 0 auto;
			margin-top: 40px;
			width: 183px;
			font-size: 20px;
			letter-spacing: 2px;
			font-style: italic;
		}

		.hor-bar {
			height: 2px;
			width: 42px;
			background-color: #D1AB67;
		}

		.cite .hor-bar {
			margin: 0 auto;
			margin-top: 20.62px;
		}

		.cite blockquote {
			margin-top: 20.38px;
			font-size: 14px;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-weight: 600;
		}
}